/* :host {
    display: flex;
    flex-direction: row;
    border: 2px solid dimgray;
    display: block;
    padding: 30px;
    background-color:  rgb(226, 236, 253);
    justify-content: left;
    margin: 0pt;
    gap: 30pt;
} */

#main-container {
    display: flex;
    flex-direction: row;
    justify-content:left;
    background-color: rgb(226, 236, 253);
    margin: 0pt;
    padding: 30pt;
    gap: 30pt;
}

@media all and (max-width: 800px) {
  #main-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#graph-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rgb(226, 236, 253); */
    background-color: white;
    margin: 0pt;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

@media all and (max-width: 1300px) {
  #graph-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

#param-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    padding: 10pt;
    /* margin-right: 30pt; */
    /* margin-bottom: 30pt; */
}

#plot-btn {
    width: fit-content;
}

.param-input {
    margin-bottom: 7pt;
    width: 100pt;
    border-style: solid;
}

.valid {
    border-color: black;
    border-width: 1pt;
}

.invalid {
    border-color: red;
    border-width: 2pt;
    border-style: solid;
}