<div id="main-container">
    <div id="param-form">
        <label for="d-phi">Phasenverschiebung</label>
        <input 
            type="text" 
            class="param-input" 
            id="d-phi" 
            value="{{phase_shift}}" 
            [ngClass]="{'valid': phase_shift_valid, 'invalid': !phase_shift_valid}" 
            #dPhi
            (keyup.enter)="verifyInput('d_phi', dPhi.value)"
            (blur)="verifyInput('d_phi', dPhi.value)"
        >
        <label for="phi-m">Analysatorwinkel</label>
        <input 
            type="text" 
            class="param-input" 
            id="phi-m" 
            value="{{angle_measure}}" 
            [ngClass]="{'valid': angle_measure_valid, 'invalid': !angle_measure_valid}" 
            #phiM
            (keyup.enter)="verifyInput('phi_m', phiM.value)"
            (blur)="verifyInput('phi_m', phiM.value)"
        >
        <label for="phi-sig">Hauptspannungswinkel</label>
        <input 
            type="text" 
            class="param-input" 
            id="phi-sig" 
            value="{{angle_sig}}" 
            [ngClass]="{'valid': angle_sig_valid, 'invalid': !angle_sig_valid}" 
            #phiSig
            (keyup.enter)="verifyInput('phi_sig', phiSig.value)"
            (blur)="verifyInput('phi_sig', phiSig.value)"
        >
        <button id="plot-btn" (click)="onAnimate(dPhi.value, phiM.value, phiSig.value)">Animate</button>
    </div>
    <div id="graph-container">
        <div id="vector-graph" #vectorGraph></div>
        <div id="wave-graph" #waveGraph></div>
    </div>
</div>